alembic==1.13.3
fastapi==0.115.2
psycopg2-binary==2.9.10
pydantic-settings==2.6.0
python-multipart==0.0.12
SQLAlchemy==2.0.36
sqlmodel==0.0.22
uvicorn==0.32.0
passlib==1.7.4
pyjwt==2.9.0
aiogram==3.14.0
